#section-counter-detail {
  position: relative;
  z-index: 0;
  background-color: #ffd437
   }
  #section-counter-detail:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .9;
    background: #ffd437; }
#section-counter-detail{
	background-color: #ffd437
}

#section-counter-detail.ftco-section.ftco-counter-detail{
	background-color: #ffd437
}

.ftco-counter-detail {
  padding: 7em 0;
  background-color: #ffd437
  }
  .ftco-counter-detail .text strong.number {
    font-weight: 400;
    font-size: 30px;
    color: balck; }
  .ftco-counter-detail .text span {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 767.98px) {
    .ftco-counter-detail .counter-wrap {
      margin-bottom: 20px; } }
  .ftco-counter-detail .ftco-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #26baee; }
  .ftco-counter-detail .ftco-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }

.block-23-detail ul {
  padding: 0;
  list-style: none; 
  }
  .block-23-detail ul li, .block-23-detail ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    list-style: none; 
    
     }
  .block-23-detail ul li span {
    color: rgba(255, 255, 255, 0.7); }
  .block-23-detail ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23-detail ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }
  .tags td a{
  	text-decoration: none;
  	font-size: 20px;
  }
  .img-recipe{
  	width: 200px;
  }
  .info-detail-recipe{
   	height: 150px;
    /* background-color: teal; */
    background-color: #ffffff;
    position: relative;
	}

.ftco-section-parallax-detail {
  position: relative; }
  .ftco-section-parallax-detail .parallax-img-detail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 7em 0;
    background: #26baee; }
  .ftco-section-parallax .heading-section-white h2 {
    font-weight: 400 !important; }
    
    .testimony-section-detail {
  position: relative; }
  .testimony-section-detail .owl-carousel {
    margin: 0; }
    
    
.img-fluid-detail {
  max-width: 80%;
  height: 50%; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto; }

  
 