.slider_search_area{
    padding-top: 30px;
    padding-left: 330px;
    /* background-color: pink; */
    width: 100%;
}

.img_slider_search{
    height: 45px; width: 400px;
    padding-left: 10px;
    border: 1px solid #ffffff;
}

.sliderBtn{
    width: 60px; height: 45px; 
    background-color: #FF9800;
    color: #ffffff;
    border: 1px solid #ffffff5e;
}

.heading-section h2::after, .heading-section h2::before {
    background: #FF9800;
}
.slider_txt1{color:#ffffff; text-align: center; padding-top: 200px;}
.slider_txt2{color:#ffffff; text-align: center; padding-top: 10px;}

.event{display: block; width: 255px;}

/* ===== 인기검색어 영역 ====== */
.pk_area{
    /* background-color: red; */
}
.popular_keyword{
    list-style-type: none;

}
.pop{
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #222222;
    vertical-align: middle;
    border: 1px solid red;
}
.rk_area{
    /* background-color: pink; */
}

.num{
    font-weight: 600;
    
}



