.list-section{
    min-height: calc(100vh - 450px);
}

.result{
    width: 100%;
}
.mall_list td{
    border: 1px solid #BDBDBD;
    display: table-cell;
    background-color: #dddddd;
    width: 20%;
    text-align: center;
    height: 40px;
    font-size: 15px;
    text-align: center;
    color: #333333;
    font-weight: 600;
    vertical-align: middle;
}
.mall_list .default{width:10%;}

.mall_result{
    height: 100%;
}
.mall_result td{
    background-color: #ffffff;
    border: 1px solid #BDBDBD;
    color:#444444;
    vertical-align: top;
    height: 100%;
    padding: 10px 0;
}

.saved{
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
    background-color:  #fad000;
}
.saved_title{
    font-size: 17px; font-weight: 600; 
    color:#ffffff;
    padding-left: 5px;
    margin: 15px;
}

.price{
    color:#FF3D00;
}

.mall_result .product_name{
    text-align: center; padding: 20px;
}

.product{
    margin-bottom:0;
}

/* .mall_result td div:nth-last-child(1){
    border-bottom: 1px solid #FFFFFF;
} */


.list_item{
    border: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    /* background-color: red; */
    /* margin: auto; */
    display: block;
    width: 95%;
    margin: auto;
}

.list_item:nth-last-child(1){
    border-bottom: 1px solid #FFFFFF;
}

.list_item:hover{
    background-color: #FFF8E1;
    border: 1px solid #FF9800;
    border-bottom: 1px solid #FF9800;
}



a{text-decoration: none; color:#222222;} 
a:hover{color:#222222;}

.img{
    height: 150px;
    /* background-color: teal; */
    background-color: #ffffff;
    position: relative;
}
.product_img{
    height:95%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    margin-top:1px;
}
.info{
    height: 100px;
    padding: 10px;
}

.moreBtn{
    width: 95%;
    margin: 10px auto 0;
    font-size: 13px; border-radius: 0;
    border:1px solid #DDDDDD;
}
.moreBtn:hover{background-color: #bdbdbd; color:#FFFFFF;}


.graph_area{column-span: all;}

.close{font-size: 1.7rem;}

.savedItemArea{
    margin-bottom: 10px;
}

.item{
    background-color: rgba(255, 255, 255, 0.95);
    width: 260px;
    margin-left: 18px;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    /* display: inline; */
}

.blind{display: none;}

.btn_prev{
    
}

.form-control,.img_slider_search{
    border: 1px solid #999999 !important;
}
.img_slider_search{
    height: 52px !important;
    padding: 10px !important;
}
.sliderBtn{
    height: 52px !important;
    border: 1px solid #999999 !important;
    border-left: none !important;
}

.saveBtn{
    border: none;
    background-color: transparent;
    /* background-color: red; */
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    /* z-index: 10; */
    padding: 10px;
}

.saveBtn:before {
    background-image: url('../images/saveBtn_default.png');
    /* background-color: #fad000; */
    background-size: 25px 25px;
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    content: '';
    /* z-index: 20; */
}
.saveBtn.on:before{
    background-image: url('../images/saveBtn_on.png');
}

.searchInputLikeUl{
    border: 1px solid #999999;
    background-color: #FFFFFF;
    display: inline-block;
    list-style-type: none;
    height: 52px;
    width: 400px;
    padding: 9px;
}

.xBtn{
    color:#555555;
    padding: 0 3px;
}
.xBtn:hover{
    cursor: pointer;
}
.selected{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    margin-right: 3px;

}
.current{
    display: inline-block;
}

.hidden_input{
    border: none;
    width: 2.5em;
}
.hidden_input:focus{
    outline: none;
}

/* .form-field{position: relative;} */
.form-field .saveAllBtn{
    position: absolute !important;
    right: 0;
    /* margin-left: auto; */
}
.submit{width: 100px !important;}





